.container{
    padding: 50px;
    padding-top: 10px;
}

.container .image{
    float: left;
    width: 49%;
}

.container .image img{
    width: 100%;
}

.container .data{
    float: left;
    width: 40%;
    margin-left: 35px;
}

a button{
    margin-right: 10px; 
    margin-left: 10px;
}

.date{
    text-align: center;
}

#info{
    text-align: center;
}

.confirmP{
    padding-top: 20px;
    color: red;
}

button{
    width: 20%;
    float: left;
    margin: auto;
}