<div id="title">
  <img src="../../../assets/img/35148042_2275662799127259_6096839860608303104_n.jpg" width="100px">
  <h1>{{title}}</h1>
  <h2>{{subTitle}}</h2>
  <p>{{email}}</p>
</div>
<article class="about">
  <h2>About me</h2>
  <p>


    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ac orci eget sem mollis porttitor. Proin elementum libero dui,
    sed pulvinar ligula dictum et. Sed non justo lobortis ex feugiat accumsan. Etiam ut malesuada magna, vitae iaculis sapien.
    Aliquam a ex elit. Proin volutpat felis id massa feugiat, id consectetur est accumsan. Nunc maximus sapien sed dapibus
    consectetur. Mauris interdum justo ut fermentum eleifend. Etiam venenatis egestas lorem eu finibus. Fusce felis erat,
    ornare quis tincidunt eget, commodo id ex. Sed quis dolor quis nisl dignissim efficitur id sit amet massa. Nulla elementum
    eros at leo vehicula molestie.
  </p>
</article>